# Ambiente virtual
venv/
.venv/
env/

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de build / distribuição
build/
dist/
*.egg-info/

# Arquivos de ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# Variáveis de ambiente
.env

# Saídas geradas pelo projeto
outputs/